<body>
<!-- Header Logo GreenVulcano -->
  <section class="page-header">
    <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
    <!-- <h1 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h1> -->
  </section>
  <!--Wrapper-->
  <section class="main-content">
	<!-- Inizio Sidebar -->
	<div id="mySidenav" class="sidebar">
      <h2 id="titleT"> Table of contents</h2>
	  
	  <!-- Inizio Sidebar Sections -->
	  
	  <!-- Home -->
      <div id="listed">
        <ul><a href="{{ "index " | relative_url }}">Home</a></ul>
      </div>
      <div class="panel">
      </div>
	<!-- QuickStart Guide -->
      <div id="listed">
        <ul><a href="{{ "pages/quickstartguide " | relative_url }}">Quickstart Guide</a></ul>
      </div>
	<!--Nodes e sottomenu -->
      <button class="accordion">Nodes</button>
      <div class="panel">
        <div id="listed">
          <li><a href="{{ "nodes/changeGVBuffer " | relative_url}}"> ChangeGVBuffer</a></li>
          <li><a href="{{ "nodes/check " | relative_url}}"> Check </a></li>
          <li><a href="{{ "" | relative_url}}"> ... </a></li>
        </div>
      </div>
	  <!-- Sezione vuota -->
      	  <!--<div id="listed">
        <ul><a href="{{ ""| relative_url }}">Sample</a></ul>
      </div>
      <div class="panel">
      </div> -->
		
	<!-- Sezione con sottomenu vuota -->
	<!--  <button class="accordion">Sample </button>
      <div class="panel">
        <div id="listed">
          <li><a href="{{ "" | relative_url}}"> Sample</a></li>
          <li><a href="{{ "" | relative_url}}"> Sample</a></li>
        </div>
      </div> -->
	  
	<!-- Fine Sidebar -->
    </div>
	
	<!-- Inizio Main -->
    <div id="main">
      <h1>GreenVulcano Documentation</h1>
      <p>Click on the button below to read Documentation</p>
      <button class="Button Button-green" onclick="toggle()">&#9776; See Documentation</button>
      {{ content }}
	<!-- Fine Main -->
</body>
<script>

//script toggle sidebar
var sidebar = false;
 function toggle(){
   if(!sidebar){
       sidebar = true;
       document.getElementById("mySidenav").style.width = "250px";
       document.getElementById("main").style.marginLeft = "250px";
       document.getElementByClass("page-header").style.marginLeft = "250px";
        return;
   }
   
   else if (sidebar){
     sidebar = false;
     document.getElementByClass("page-header").style.marginLeft = "0";
     document.getElementById("mySidenav").style.width = "0";
     document.getElementById("main").style.marginLeft = "0";
   	}
   }
   
  var acc = document.getElementsByClassName("accordion");
  var i;
  for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    }
  }
</script>
