<body>
  <!--Wrapper-->
  <section class="main-content">
	<!-- Here starts the sidebar -->
	<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
	    <!-- Logo -->
      <a href="{{site.baseurl}}"><img src="{{site.baseurl}}{{site.logo}}" class="logo" /></a>
      	    <!-- Toggle button -->
	    <!--<button type="button" id="closeSidebar" onclick="closeNav()" class="btn-blue closebtn">
                          <i class="glyphicon glyphicon-chevron-left"></i>
                          <span></span>
                      </button>-->
      <ul class="list-unstyled components">
	<!-- Home -->
        <li>
          <a href="#home" data-toggle="collapse" aria-expanded="false">Home</a>
          <ul class="collapse list-unstyled" id="home">
          <li><a href="{{ "pages/what_is_greenVulcano/#home" | relative_url}}">What is GreenVulcano?</a></li>
	  <li><a href="{{ "pages/Integration_made_easy/#home" | relative_url}}">Integration made easy</a></li>
	  <li><a href="{{ "pages/GreenVulcano_Server/#home" | relative_url}}">GreenVulcano Server</a></li>
          <li><a href="{{ "pages/Developer_Studio/#home" | relative_url}}">Developer Studio</a></li>
          <li><a href="{{ "pages/GVConsole/#home" | relative_url}}">GV Console</a></li>  
          </ul>
        </li>
	<!-- Installation -->
        <li>
          <a href="#installation" data-toggle="collapse" aria-expanded="false">Installation</a>
          <ul class="collapse list-unstyled" id="installation">
            <li><a href="{{ "installation/Installation/#installation" | relative_url}}">Installation GV</a></li>
          </ul>
        </li>  
	<!-- Quickstart Guide -->
        <li>
          <a href="#quickstart" data-toggle="collapse" aria-expanded="false">Quickstart Guide</a>
          <ul class="collapse list-unstyled" id="quickstart">
            <li><a href="{{ "quickstart_Guide/Quickstart/#quickstart" | relative_url}}">Quickstart</a></li>
            <li><a href="{{ "quickstart_Guide/Developer_Studio_2.0/#quickstart" | relative_url}}">Developer Studio 2.0</a></li>
	    <li><a href="{{ "quickstart_Guide/GreenVulcano_Server_And_Gvconsole/#quickstart" | relative_url}}">GreenVulcano Server and GVConsole</a></li>
          </ul>
        </li>
	<!-- Course -->
        <li>
          <a href="#course" data-toggle="collapse" aria-expanded="false">Course</a>
          <ul class="collapse list-unstyled" id="course">
		  <li><a href="{{ "course/Service_Examples/#course" | relative_url}}">Service Examples</a></li>
	    	  <li><a href="{{ "course/Setup_of_a_new_DB_connection/#course" | relative_url}}">Setup of a new DB connection</a></li>
	<!-- Nodes submenu -->
            <li><a href="#nodes" data-toggle="collapse" aria-expanded="false">Nodes</a>
              <div id="submenu">
                <ul class="collapse list-unstyled" id="nodes">
			<div class="accordion-body in collapse" style="height: auto;">
                  		  <li><a href="{{ "course/nodes/Start/#nodes" | relative_url}}">Start</a></li>
				  <li><a href="{{ "course/nodes/Check/#nodes" | relative_url}}">Check</a></li>
				  <li><a href="{{ "course/nodes/Wait/#nodes" | relative_url}}">Wait</a></li>
				  <li><a href="{{ "course/nodes/Notification/#nodes" | relative_url}}">Notification</a></li>
				  <li><a href="{{ "pages/nodes/Change_GVBuffer/#nodes" | relative_url}}">Change GVBuffer</a></li>
				  <li><a href="{{ "course/nodes/SavePoint/#nodes" | relative_url}}">SavePoint</a></li>
				  <li><a href="{{ "course/nodes/End/#nodes" | relative_url}}">End</a></li>
				  <li><a href="{{ "course/nodes/Iterator_Enqueue/#nodes" | relative_url}}">Iterator Enqueue</a></li>
				  <li><a href="{{ "course/nodes/Iterator_Call/#nodes" | relative_url}}">Iterator Call</a></li>
				  <li><a href="{{ "course/nodes/Iterator_CoreCall/#nodes" | relative_url}}">Iterator CoreCall</a></li>
				  <li><a href="{{ "course/nodes/Iterator_SubFlowCall/#nodes" | relative_url}}">Iterator SubFlowCall</a></li>
				  <li><a href="{{ "course/nodes/Enqueue/#nodes" | relative_url}}">Enqueue</a></li>
				  <li><a href="{{ "course/nodes/Dequeue/#nodes" | relative_url}}">Dequeue</a></li>
				  <li><a href="{{ "course/nodes/Call/#nodes" | relative_url}}">Call</a></li>
				  <li><a href="{{ "course/nodes/CoreCall/#nodes" | relative_url}}">CoreCall</a></li>
				  <li><a href="{{ "course/nodes/SubFlowCall/#nodes" | relative_url}}">SubFlowCall</a></li>
				  <li><a href="{{ "course/nodes/Spawn_SubFlowCall/#nodes" | relative_url}}">Spawn SubFlowCall</a></li>
				  <li><a href="{{ "course/nodes/Parallel_SubFlowCall/#nodes" | relative_url}}">Parallel SubFlowCall</a></li>
				  <li><a href="{{ "course/nodes/Splitted_SubFlowCall/#nodes" | relative_url}}">Splitted SubFlowCall</a></li>
			</div>
            </li>
            </ul>
            </div>
            <li><a href="{{ "course/Placeholders/#course" | relative_url}}">Placeholders</a></li>
	    <!--<li><a href="{{ "" | relative_url}}"> Operations</a></li>-->
          </ul>
        </li>
	<!-- What's new -->
        <li>
          <a href="#new" data-toggle="collapse" aria-expanded="false">What's new?</a>
          <ul class="collapse list-unstyled" id="new">
            <li><a href="{{ "pages/Newdeploy/#new" | relative_url}}">ALPHA1: deploy</a></li>
          </ul>
        </li>
      </ul>


    </nav>
	
	<!-- Here starts the Main -->
    <div id="main">
	    <!--<h3 id="path"></h3>-->
      {{ content }}
	<!-- Here ends the Main -->
</body>
