

  #titleT {
    color: #ffffff;
    padding-top: 5px;
    margin-left: 20px;
    font-size: 20px;
  }

.Button {
    	 font-size: 1pc;
	 font-size: 1rem;
	 line-height: 33px;
	 line-height: 2.0625rem;
	 display: inline-block;
	 box-sizing: border-box;
	 height: 35px;
	 height: 2.1875rem;
	 margin: 0;
	 padding: 0 1pc;
	 padding: 0 1rem;
	 cursor: pointer;
	 text-align: center;
	 vertical-align: middle;
	 white-space: nowrap;
	 color: #000;
	 border: 1px solid #000;
	 border: .0625rem solid #000;
	 border-radius: 4px;
	 background-color: transparent;
 }
 .Button-green{
   background-color: #238650;
   color: #fff;
 }
 
 @media screen and (max-width: 1024px) {
 	.Button-blue{
     	background-color: #124667;
    	color: #fff;
    	margin-top: 10px;
 }
 	.page-header{
 		margin-left:250px;
 	}
 }
