---
---
@import "bootstrap";
@import "{{ site.theme }}";


/**** Sidebar ****/

  html {
    font-size:15px;
}
  body {
    font-family: sans-serif;
  }

a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* --- Sidebar Style ---*/
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    width: 250px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 0 4px -1px #939393;
    overflow-x: hidden;
    padding-top: 30px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffffff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    font-size:17px;
}

#sidebar ul li a {
    padding: 8px;
    font-size: 0.85em;
    //color: #238650;
    display: block;
}

#sidebar ul li a:hover {
    background-color: #238650;
    color: #ffffff;
}
#sidebar ul li a:focus {
    background-color: #238650;
    color: #ffffff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    background: #238650;
    color: #ffffff;
	
}

/*#submenu {
  padding-left:20px;
}*/

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.85em !important;
    padding-left: 50px !important;
    background: #ffffff;
}

/*.active {
    color:#ffffff; 
    background: #238650;
}*/

/*-- Close Button Style --*/
/*.closebtn {	  
    position: absolute;
    top: 0px;
    right: 12px;
    margin-top: 30px;
    font-size: 11px;
    color: #ffffff;
    margin-left: 50px;
}
.toolbar{
    position: fixed;
    padding: 17px 20px 20px 20px;
    padding-right: 0;
    top: 10px;
    left: 0px;
	}*/

/*--- Logo ---*/
.logo {
    width: 180px;
    margin-left: 30px;
}

/* --- Main Style --- */
#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 250px
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot');
  src: url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
       url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font: normal normal 11px/1 'Glyphicons Halflings';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.glyphicon-chevron-up {
	&:before { 
		content: "\e113";
	} 
}
.glyphicon-chevron-down { 
	&:before {
		content: "\e114"; 
	}
}

/* --- Mediaqueries --- */
@media (max-width: 768px) {
    .project-name {
	 margin-left: 150px;   
	}
 
    #sidebar {
       	margin-left: 0px;
    	width: 200px;
    	font-size: 15px;
	}
	
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
	
    .logo {
	width: 130px;
    	margin-left: 30px;
	}
	
    #main-content {
	margin-left: 30px;
	}
	
    #main {
	margin-left: 200px;
	}
	
}
